novari:
  cache:
    default-cache-entry-time-to-live: "3650" # 10 years

spring:
  output:
    ansi:
      enabled: always
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://idp.felleskomponent.no/nidp/oauth/nam